<!-- <p>recentdiscuss works!</p> -->


<div class="box-list-section">
    <div class="box-header">
        <h2>Recent Discussions</h2>
        <div class="box-tool"><a class="more" href="#">more »</a></div>
    </div>
    <ul class="list">
        <li class="list-item">
            <div class="list-body"><a class="text-ellipsis text-primary" href="#"><span>Kiss or Dismiss #3</span></a>
                <div><small class="text-muted">  by <a href="#">soomin</a></small></div>
            </div>
        </li>
        <li class="list-item">
            <div class="list-body"><a class="text-ellipsis text-primary" href="#"><span>Just Name IT</span></a>
                <div><small class="text-muted">  by <a href="#">HeloMekInVegas</a></small></div>
            </div>
        </li>
        <li class="list-item">
            <div class="list-body"><a class="text-ellipsis text-primary" href="#"><span>Which drama from the above user's 'Last List Updates' would you pick? #3</span></a>
                <div><small class="text-muted">  by <a href="#">Estelll</a></small></div>
            </div>
        </li>
        <li class="list-item">
            <div class="list-body"><a class="text-ellipsis text-primary" href="#"><span>The ALPHABET Game [drama/movie version]!</span></a>
                <div><small class="text-muted">  by <a href="#">soomin</a></small></div>
            </div>
        </li>
        <li class="list-item">
            <div class="list-body"><a class="text-ellipsis text-primary" href="#"><span>Last Korean song you listened?</span></a>
                <div><small class="text-muted">  by <a href="#">HeloMekInVegas</a></small></div>
            </div>
        </li>
    </ul>
</div>