<div id="footer" class="app-footer black dk pos-rlt">

    <div class="footer p-x-md">
        <div class="row no-gutter">
            <div class="col-sm-4">
                <div class="m-t">
                    <a href="/"><img alt="MyDramaList" src="../../../assets/images/logo.png" width="158" height="24"></a>
                </div>
                <div><small class="text-muted">© Copyright 2020. All rights reserved.</small></div>
                <div class="m-t m-y">
                    <div class="m-t inline m-y">
                        <a href="https://www.facebook.com/MyDramaListdotcom/" class="btn btn-icon btn-social rounded btn-sm white"><i class="fab fa-facebook-f"></i> <i class="fab fa-facebook-f indigo"></i></a>
                        <a href="https://twitter.com/My_Drama_List" class="btn btn-icon btn-social rounded btn-sm white"><i class="fab fa-twitter"></i> <i class="fab fa-twitter light-blue"></i></a>
                        <a href="https://www.instagram.com/my.drama.list/" class="btn btn-icon btn-social rounded btn-sm white"><i class="fab fa-instagram"></i> <i class="fab fa-instagram red"></i></a>
                        <a href="https://www.youtube.com/channel/UCfnEmDUWC4m0k-tDDGVM2Uw" class="btn btn-icon btn-social rounded btn-sm white"><i class="fab fa-youtube"></i> <i class="fab fa-youtube red"></i></a>
                    </div>
                    <div class="footer-rec-site">
                        <a href="https://mmadive.com" alt="MMA News">MMA Dive</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="m-y">
                    <h3 class="text-md">ABOUT</h3>
                    <ul class="nav-list m-t">
                        <li class="m-t-sm"><a href="/faq" rel="external nofollow"><span>FAQ</span></a></li>
                        <li class="m-t-sm"><a href="/about" rel="external nofollow"><span>About Us</span></a></li>
                        <li class="m-t-sm"><a href="/contact" rel="external nofollow"><span>Contact</span></a></li>
                        <li class="m-t-sm"><a href="/terms" rel="external nofollow"><span>Terms</span></a></li>
                        <li class="m-t-sm"><a href="/privacy" rel="external nofollow"><span>Privacy</span></a></li>
                        <li class="m-t-sm"><a href="/vip" rel="external nofollow"><span>Support Us</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="m-y">
                    <h3 class="text-md">WORK WITH US</h3>
                    <ul class="nav-list m-t">
                        <li class="m-t-sm"><a href="#"><span>Writers</span></a></li>
                        <li class="m-t-sm"><a href="#" rel="external nofollow"><span>Advertise</span></a></li>
                        <li class="m-t-sm"><a href="#" rel="external nofollow"><span>API</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="m-y">
                    <h3 class="text-md">RECOMMENDED</h3>
                    <ul class="nav-list m-t">
                        <li class="m-t-sm"><a href="/shows/top_korean_dramas"><span>Top 100 Korean Dramas</span></a></li>
                        <li class="m-t-sm"><a href="/shows/top_japanese_dramas"><span>Top 100 Japanese Dramas</span></a></li>
                        <li class="m-t-sm"><a href="/shows/top_chinese_dramas"><span>Top 100 Chinese Dramas</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>