<app-slider></app-slider>

<div class="px-3">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-12">
            <div class="box-body box-grid-section pt-4 mt-3">
                <div class="front-section">
                    <div class="box-header">
                        <div class="box-tool"><a class="more" href="#">more »</a></div>
                        <h2 class="header m-b-0">Watch Latest Episodes</h2>
                    </div>
                    <app-topslider></app-topslider>
                </div>
            </div>

            <div class="box-body box-grid-section py-4">
                <div class="front-section">
                    <div class="box-header">
                        <div class="box-tool"><a class="more" href="#">more »</a></div>
                        <h2 class="header m-b-0">Latest Reviews</h2>
                    </div>
                    <app-topslider></app-topslider>
                </div>
            </div>

            <div class="box-body box-grid-section py-4">
                <div class="front-section">
                    <div class="box-header">
                        <div class="box-tool"><a class="more" href="#">more »</a></div>
                        <h2 class="header m-b-0">Newest Trailers</h2>
                    </div>
                    <app-topslider></app-topslider>
                </div>
            </div>

            <div class="box-body box-grid-section py-4">
                <div class="front-section">
                    <div class="box-header">
                        <div class="box-tool"><a class="more" href="#">more »</a></div>
                        <h2 class="header m-b-0">Trending This Week</h2>
                    </div>
                    <app-topslider></app-topslider>
                </div>
            </div>
            <div class="box-body box-grid-section py-4">
                <div class="front-section">
                    <div class="box-header">
                        <div class="box-tool"><a class="more" href="#">more »</a></div>
                        <h2 class="header m-b-0">Show Starting This Week</h2>
                    </div>
                    <app-topslider></app-topslider>
                </div>
            </div>

            <div class="box-body box-grid-section py-4">
                <div class="front-section">
                    <div class="box-header">
                        <div class="box-tool"><a class="more" href="#">more »</a></div>
                        <h2 class="header m-b-0">Show Ending This Week</h2>
                    </div>
                    <app-topslider></app-topslider>
                </div>
            </div>

            <app-recentdiscuss></app-recentdiscuss>


            <div class="box-body box-grid-section py-4">
                <div class="front-section">
                    <div class="box-header">
                        <div class="box-tool"><a class="more" href="#">more »</a></div>
                        <h2 class="header m-b-0">Today's Birthday</h2>
                    </div>
                    <app-topslider></app-topslider>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-8 col-12">
            <app-sidebar></app-sidebar>

        </div>
    </div>


</div>