<div class="row">
    <div class="col-lg-4 col-md-4">
        <app-leftsidebar></app-leftsidebar>
    </div>
    <div class="col-lg-8 col-md-8">
        <div class="box">
            <div class="box-header box-navbar">
                <h1 class="film-title"><a href="/details" title="Forest">Forest</a> (2020)</h1>
                <ul class="nav nav-tabs">
                    <li class="page-item nav-item"><a class="nav-link" href="/details">Details</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/episodes">Episode Guide</a>
                    </li>
                    <li class="page-item nav-item"><a class="nav-link" href="/cast">Cast</a></li>
                    <li class="page-item nav-item active"><a class="nav-link" href="/reviews">Reviews</a>
                    </li>
                    <li class="page-item nav-item"><a class="nav-link" href="/recs">Recommendations</a>
                    </li>
                    <li class="page-item nav-item"><a class="nav-link" href="/photos">Photos</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/statistics"><i
                                class="far fa-chart-bar"></i></a></li>
                </ul>
            </div>
            <div class="box-tool m-t-sm dropdown"> <a href="#" class="hidden-xs-down text-sm text-primary"
                    data-toggle="dropdown">Edit this Page</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Edit Information</div> <a class="dropdown-item" rel="nofollow"
                        href="#"><span>Primary Details</span></a> <a class="dropdown-item" rel="nofollow"
                        href="#"><span>Cover Image</span></a> <a class="dropdown-item" rel="nofollow"
                        href="#"><span>Related
                            Titles</span></a> <a class="dropdown-item" rel="nofollow" href="#"><span>Cast</span></a> <a
                        class="dropdown-item" rel="nofollow" href="#"><span>Crew</span></a> <a class="dropdown-item"
                        rel="nofollow" href="#"><span>Genres</span></a> <a class="dropdown-item edit-tags"
                        data-id="33186" rel="nofollow" href="#"><span>Tags</span></a> <a class="dropdown-item"
                        rel="nofollow" href="#"><span>Release Information</span></a> <a class="dropdown-item"
                        rel="nofollow" href="#"><span>Production
                            Information</span></a>
                    <div class="dropdown-divider"></div> <a class="dropdown-item report-link m-b-sm" rel="nofollow"
                        data-id="33186" data-type="title">Report</a>
                </div>
            </div>
            <div class="box-header">
                <div id="reviews-filter" class="clear"><button type="button" class="btn pull-right btn-primary">

                        <span>Write a Review</span></button>
                    <div class="el-dropdown"><button type="button" class="btn btn-default el-dropdown-selfdefine"
                            aria-haspopup="list" aria-controls="dropdown-menu-1287" role="button" tabindex="0">

                            <span>
                                Most Helpful<i class="far fa-angle-down m-l-sm"></i></span></button>
                        <ul class="el-dropdown-menu el-popper" id="dropdown-menu-1287" style="display: none;">
                            <li tabindex="-1" class="el-dropdown-menu__item">Most Helpful</li>
                            <li tabindex="-1" class="el-dropdown-menu__item">Most Recent</li>
                        </ul>
                    </div>
                    <span>
                        <div role="tooltip" id="el-popover-6320" aria-hidden="true"
                            class="el-popover el-popper reviews-filter-popover" tabindex="0"
                            style="width: 380px; display: none;">
                            <div class="row no-gutter">
                                <div class="col-sm-6">
                                    <div class="filter-head"><b>Languages</b></div>
                                    <div command="all" class="filter-item"><label role="radio" aria-checked="true"
                                            tabindex="0" class="el-radio is-checked"><span
                                                class="el-radio__input is-checked"><span
                                                    class="el-radio__inner"></span><input type="radio"
                                                    aria-hidden="true" tabindex="-1" class="el-radio__original"
                                                    value="all"></span><span class="el-radio__label">All
                                                Languages</span></label></div>
                                    <div command="en-US" class="filter-item"><label role="radio" tabindex="0"
                                            class="el-radio"><span class="el-radio__input"><span
                                                    class="el-radio__inner"></span><input type="radio"
                                                    aria-hidden="true" tabindex="-1" class="el-radio__original"
                                                    value="en-US"></span><span class="el-radio__label">English <span
                                                    class="text-muted">(1)</span></span></label></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="filter-head"><b>Filter by Status</b></div>
                                    <div command="all" class="filter-item"><label role="radio" aria-checked="true"
                                            tabindex="0" class="el-radio is-checked"><span
                                                class="el-radio__input is-checked"><span
                                                    class="el-radio__inner"></span><input type="radio"
                                                    aria-hidden="true" tabindex="-1" class="el-radio__original"
                                                    value="all"></span><span class="el-radio__label">All Status

                                            </span></label></div>


                                    <div command="dropped" class="filter-item"><label role="radio" tabindex="0"
                                            class="el-radio"><span class="el-radio__input"><span
                                                    class="el-radio__inner"></span><input type="radio"
                                                    aria-hidden="true" tabindex="-1" class="el-radio__original"
                                                    value="dropped"></span><span class="el-radio__label">Dropped <span
                                                    class="text-muted">(1)</span>
                                            </span></label></div>
                                    <div class="filter-item"><label role="checkbox" class="el-checkbox"><span
                                                aria-checked="mixed" class="el-checkbox__input"><span
                                                    class="el-checkbox__inner"></span><input type="checkbox"
                                                    aria-hidden="true" true-value="0" false-value=""
                                                    class="el-checkbox__original"></span><span
                                                class="el-checkbox__label">Hide Spoiler
                                            </span></label></div>
                                </div>
                                <div class="el-loading-mask" style="display: none;">
                                    <div class="el-loading-spinner"><svg viewBox="25 25 50 50" class="circular">
                                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                        </svg>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="el-popover__reference" aria-describedby="el-popover-6320" tabindex="0"
                            style="display: inline-block;"><span class="m-l filter-dropdown-link">
                                <b>All Languages
                                    <i class="far fa-angle-down m-l-sm"></i></b></span></div>
                    </span>
                </div>
            </div>
            <div id="review-64561" class="review" data-stats="reviews:64561">
                <div class="box-body light b-t b-b p-t-sm p-b-sm">
                    <div class="row no-gutter">
                        <div class="col-sm-9">
                            <div class="pull-left m-r"> <span class="avatar w-56"> <img
                                        src="https://i.mydramalist.com/letter/ChinguMode"> </span> </div>
                            <div>
                                <div class="pull-right hidden-sm-up"> <span class="review-tag dropped">Dropped</span>
                                    <span>6/32</span> </div> <b><a class="text-primary" href="#">ChinguMode</a></b>
                                <div class="user-stats review_stats_64561"><small><b>4</b> people found this review
                                        helpful</small> <i class="review-voted-check review-voted-check-64561"></i>
                                </div>
                                <div class="more-reviews"> <small><a class="text-primary" href="#">Other reviews by this
                                            user</a></small>
                                    <div class="hidden-sm-up pull-right"> <small><a href="#"><i
                                                    class="fal fa-comments-alt"></i> 0</a></small>
                                        <div class="mdl-dropdown"> <a class="nav-link btn-menu" data-id="64561"
                                                data-type="review"><span><i class="far fa-chevron-down"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 text-sm text-right hidden-xs-down">
                            <div class="meta"> <small class="datetime">8 days ago</small>
                                <div class="episodes-seen text-muted"> <b>6</b> of <b>32</b> episodes seen </div>
                            </div>
                            <div class="actions"> <span class="review-tag dropped">Dropped</span> <small><a href="#"><i
                                            class="fal fa-comments-alt"></i>
                                        0</a></small>
                                <div class="mdl-dropdown"> <a class="nav-link btn-menu" data-id="64561"
                                        data-type="review"><span><i class="far fa-chevron-down"></i></span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 review-body">
                            <div class="box pull-right text-sm m-a-sm">
                                <div class="box-header p-t-sm p-b-sm rating-overall"> <b>Overall <span
                                            class="score pull-right">4.0</span></b> </div>
                                <div class="box-body p-t-sm p-b-sm">
                                    <div class="list-group review-rating">
                                        <div>Story <span class="p-l-md pull-right">5.0</span></div>
                                        <div>Acting/Cast <span class="p-l-md pull-right">6.0</span></div>
                                        <div>Music <span class="p-l-md pull-right">5.0</span></div>
                                        <div>Rewatch Value <span class="p-l-md pull-right">1.0</span></div>
                                    </div>
                                </div>
                            </div> There's a certain kind of joy that comes with watching a gleefully bad show, as
                            though who read my review of Risky Romance will know. When a show embraces its awful, it can
                            be delightful in how trash it is. Good trash. <br>And I generally like good
                            trash.<br>Unfortunately, while Forest has several aspects of Good Trash and I got some joy
                            in how bad the first few episodes were, it's just boring enough to be trash without any
                            qualifiers.<br>The romance between a resident surgeon with a TRAUMA and a GENIUS tsundere
                            CEO with a TRAUMA (no doubt due to a shared childhood experience they don't remember as yet)
                            who both end up in a Forest of Secrets (I wish) is ludicrous in all the right ways but
                            simultaneously a boring trope salad of romcom cliches, corporate shenanigans, and
                            Candy-meets-Hot-Cold CEO scenarios (including forced cohabitation, a fake engagement, and a
                            love triangle).<br>Park Hae Jin does his best with the material (and it's honestly just good
                            to have him back on our screens again) but Jo Boa overacts, a somewhat disappointing
                            performance from her after her kickass turn in My Strange Hero. <br>The show makes little
                            sense, although that's not its biggest problem. It's just not fun enough to endure the bad
                            writing, the bad cliches, or the inconsistent characterisation. <br>Also, considering how
                            bad this year's fire season has been, turning fire fighting into a romcom for rich kids with
                            other agendas leaves a bad taste in my mouth and that's something the show won't be able to
                            overcome. <br>Dropped after six episodes.<br>
                            <p class="read-more"><a href="#" class="button">Read More</a></p>
                            <div class="review-helpful m-t p-t xb-t">
                                <div class="review-vote review-helpful-64561"><span class="text-muted">Was this review
                                        helpful to you?</span> <button
                                        class="btn btn-xs white helpful review-cast-helpful" data-id="64561"
                                        data-label="Yes"><span>Yes</span></button> <button
                                        class="btn btn-xs white unhelpful review-cast-helpful" data-id="64561"
                                        data-label="No"><span>No</span></button> <button
                                        class="btn btn-xs white review-cancel-vote"
                                        data-id="64561"><span>Cancel</span></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer b-t">
            </div>
        </div>
    </div>
</div>