<!-- <p>header works!</p> -->

<div class="logo">
    <img src="../../../assets/logo.png" alt="Main Logo" />

</div>


<!-- 
<div id="app" class="app">
    <div id="menu" class="slideout-menu slideout-menu-right">
        <form class="form-inline form-search" action="https://mydramalist.com/search" role="search">
            <div class="form-group">
                <div class="input-group"> <input type="text" name="q" class="form-control" placeholder="Find Asian Dramas, Movies, Actors and more..."> <span class="input-group-btn"><button type="submit" class="btn white"><i class="fa fa-search"></i></button></span></div>
            </div>
        </form>
        <ul class="nav">
            <li class="active">
                <a href="https://mydramalist.com/"><span class="nav-text">Home</span></a>
                <ul class="nav-sub">
                    <li><a rel="external nofollow" href="https://mydramalist.com/vip"><span class="nav-text text-danger">Hide ads</span></a></li>
                    <li><a href="https://mydramalist.com/list"><span class="nav-text">Lists</span></a></li>
                    <li><a href="https://mydramalist.com/feeds"><span class="nav-text">Feeds</span></a></li>
                    <li><a href="https://mydramalist.com/articles"><span class="nav-text">Articles</span></a></li>
                    <li><a href="https://mydramalist.com/trailers"><span class="nav-text">Trailers</span></a></li>
                    <li><a href="https://mydramalist.com/discussions"><span class="nav-text">Forums</span></a></li>
                    <li><a href="https://mydramalist.com/contributors"><span class="nav-text">Contributors</span></a></li>
                </ul>
            </li>
            <li class="active">
                <a hef="/"><span class="nav-text">Shows</span></a>
                <ul class="nav-sub">
                    <li><a href="https://mydramalist.com/shows/top"><span class="nav-text">Top Shows</span></a></li>
                    <li><a href="https://mydramalist.com/shows/popular"><span class="nav-text">Most Popular Shows</span></a></li>
                    <li><a href="https://mydramalist.com/shows/variety"><span class="nav-text">Variety Shows</span></a></li>
                    <li><a href="https://mydramalist.com/shows/upcoming"><span class="nav-text">Upcoming</span></a></li>
                    <li><a href="https://mydramalist.com/reviews/shows"><span class="nav-text">Reviews</span></a></li>
                    <li><a href="https://mydramalist.com/recommendations/shows"><span class="nav-text">Recommendations</span></a></li>
                    <li><a href="https://mydramalist.com/recommendations" rel="external nofollow"><span class="nav-text">Recommended For You</span></a></li>
                    <li><a href="https://mydramalist.com/add/title" rel="external nofollow"><span class="nav-text">Add New Title</span></a></li>
                </ul>
            </li>
            <li class="active">
                <a href="https://mydramalist.com/"><span class="nav-text">Movies</span></a>
                <ul class="nav-sub">
                    <li><a href="https://mydramalist.com/movies/top"><span class="nav-text">Top Movies</span></a></li>
                    <li><a href="https://mydramalist.com/movies/popular"><span class="nav-text">Most Popular Movies</span></a></li>
                    <li><a href="https://mydramalist.com/movies/upcoming"><span class="nav-text">Upcoming</span></a></li>
                    <li><a href="https://mydramalist.com/reviews/movies"><span class="nav-text">Reviews</span></a></li>
                    <li><a href="https://mydramalist.com/recommendations/movies"><span class="nav-text">Recommendations</span></a></li>
                    <li><a href="https://mydramalist.com/add/title"><span class="nav-text">Add New Title</span></a></li>
                </ul>
            </li>
            <li class="active">
                <a href="https://mydramalist.com/"><span class="nav-text">People</span></a>
                <ul class="nav-sub">
                    <li><a href="https://mydramalist.com/people/top"><span class="nav-text">Top Actors</span></a></li>
                    <li><a href="https://mydramalist.com/add/person" rel="external nofollow"><span class="nav-text">Add New Person</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div calss="app-content box-shadow-z0">
        <div class="app-header navbar-xs black box-shadow" style="width: 1349px;">
            <div class="app-header-wrapper">
                <div class="navbar">
                    <a class="btn-slide-menu navbar-item pull-right hidden-lg-up m-a-0 m-l"><i class="fa fa-bars"></i></a>
                    <a href="https://mydramalist.com/" class="navbar-brand">
                        <img class="hidden-folded hidden-md-down inline" alt="MyDramaList" src="./index_files/logo_w.png" width="158" height="24">
                        <span class="hidden-folded hidden-lg-up inline">MDL</span><span class="beta4 label label-xs danger">v5.3</span></a>



                    <ul class="nav navbar-nav pull-right header-user">
                        <li class="nav-item dropdown" style="margin-left: 0;">
                            <div class="nav-link">
                                <div id="mdl-lang"><span>en</span></div>
                            </div>
                        </li>
                        <li class="nav-item dropdown nav-search hidden-lg-up">
                            <a class="nav-link" data-toggle="dropdown"><i class="far fa-search"></i></a>
                            <div class="dropdown-menu w-xxl animated fadeInUp p-a-0">
                                <form class="navbar-form form-inline" action="https://mydramalist.com/search" role="search">
                                    <div class="form-group l-h m-a-0">
                                        <div class="input-group">
                                            <input type="text" name="q" class="form-control" placeholder="Find Asian Dramas, Movies, Actors and more...">
                                            <span class="input-group-btn"><button type="submit" class="btn b-a no-b-l no-shadow"><i class="fa fa-search"></i></button></span></div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <script type="text/template" id="nav-notifications"></script>
                        <li class="nav-item"><a class="nav-link m-l-sm" href="https://mydramalist.com/signup"><span>Sign up</span></a></li>
                        <li class="nav-item"><a class="nav-link nav-login m-l-sm" href="https://mydramalist.com/signin"><span>Log in</span></a></li>
                    </ul>

                    <div class="collapse navbar-toggleable-sm" id="top-nav" data-pjax="">
                        <form class="navbar-form form-inline hidden-md-down pull-right pull-none-sm navbar-item v-m" action="https://mydramalist.com/search" role="search">
                            <div class="form-group l-h m-a-0">
                                <div class="input-group input-group-sm"> <input type="text" name="q" class="form-control p-x b-a rounded" placeholder="Find Asian Dramas, Movies, Actors and more..."> <span class="input-group-btn"><button type="submit" class="btn b-a rounded no-b-l no-shadow"><i class="fa fa-search"></i></button></span></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav pull-left nav-active-border b-blue">
                            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="https://mydramalist.com/" data-toggle="dropdown"><span class="nav-text">Home</span></a>
                                <div class="dropdown-menu">
                                    <a href="https://mydramalist.com/feeds" class="dropdown-item"><span class="nav-text">Feeds</span></a>
                                    <a href="https://mydramalist.com/articles" class="dropdown-item"><span class="nav-text">Articles</span></a>
                                    <a href="https://mydramalist.com/trailers" class="dropdown-item"><span class="nav-text">Trailers</span></a>
                                    <a href="https://mydramalist.com/watch/latest_episodes" class="dropdown-item"><span class="nav-text text-danger">Watch Online</span></a> </div>
                            </li>
                            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="https://mydramalist.com/" data-toggle="dropdown"><span class="nav-text">Explore</span></a>
                                <div class="dropdown-menu" style="min-width: 350px;padding:0;">
                                    <div class="row" style="display: flex;">
                                        <div class="col-sm-6 col-lg-6" style="padding-top: 10px;padding-bottom: 10px;padding-right:0;min-height: 322px;border-right: 1px solid #eee;">
                                            <div class="dropdown-header"><b>TV Shows</b></div>
                                            <a class="dropdown-item" href="https://mydramalist.com/shows/top">Top Shows</a>
                                            <a class="dropdown-item" href="https://mydramalist.com/shows/popular">Most Popular Shows</a>
                                            <a class="dropdown-item" href="https://mydramalist.com/shows/variety">Variety Shows</a>
                                            <a class="dropdown-item" href="https://mydramalist.com/shows/newest">Newest</a>
                                            <a class="dropdown-item" href="https://mydramalist.com/shows/upcoming">Upcoming</a>
                                            <a class="dropdown-item" href="https://mydramalist.com/reviews/shows">Reviews</a>
                                            <a class="dropdown-item" href="https://mydramalist.com/recommendations/shows">Recommendations</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="https://mydramalist.com/recommendations" rel="external nofollow">Recommended For You</a>
                                            <a class="dropdown-item" rel="external nofollow" href="https://mydramalist.com/add/title">Add New Title</a>
                                        </div>
                                        <div class="col-sm-6 col-lg-6" style="background-color: #f8f8f8;padding-top: 10px;padding-right:0;padding-bottom: 10px;min-height: 322px;">
                                            <div class="dropdown-header"><b>Movies</b></div>
                                            <a class="dropdown-item" href="https://mydramalist.com/movies/top">Top Movies</a>
                                            <a class="dropdown-item" href="https://mydramalist.com/movies/popular">Most Popular Movies</a>
                                            <a class="dropdown-item" href="https://mydramalist.com/movies/newest">Newest</a>
                                            <a class="dropdown-item" href="https://mydramalist.com/movies/upcoming">Upcoming</a>
                                            <a class="dropdown-item" href="https://mydramalist.com/reviews/movies">Reviews</a>
                                            <a class="dropdown-item" href="https://mydramalist.com/recommendations/movies">Recommendations</a>
                                        </div>
                                        <div class="col-sm-6 col-lg-6">
                                            <div class="p-y p-r" style="width: 340px;">
                                                <a href="https://www.youtube.com/watch?v=jlop_NwpSbc&amp;feature=youtu.be" target="_blank" rel="nofollow external">
                                                    <img class="img-responsive" src="./index_files/maxresdefault.jpg">
                                                    <b class="text-primary block m-t-sm">8 AWESOME KOREAN DRAMAS COMING OUT IN FEBRUARY 2020</b>
                                                    <div class="text-muted">Featured</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="https://mydramalist.com/" data-toggle="dropdown"><span class="nav-text">People</span></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="https://mydramalist.com/people/top">Top Actors</a>
                                    <a class="dropdown-item" rel="external nofollow" href="https://mydramalist.com/add/person">Add New Person</a> </div>
                            </li>
                            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="https://mydramalist.com/discussions" data-toggle="dropdown"><span class="nav-text">Community</span></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="https://mydramalist.com/list">Lists</a> <a class="dropdown-item" href="https://mydramalist.com/discussions">Forums</a>
                                    <a class="dropdown-item" href="https://mydramalist.com/contributors">Contributors</a> </div>
                            </li>
                            <li class="nav-item"><a href="https://mydramalist.com/vip" rel="external nofollow" class="nav-link"><span class="nav-text">Hide ads</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->