<div class="row">
    <div class="col-lg-4 col-md-4">
        <app-leftsidebar></app-leftsidebar>
    </div>
    <div class="col-lg-8 col-md-8">
        <div class="box">
            <div class="box-header box-navbar">
                <h1 class="film-title"><a href="/details" title="Forest">Forest</a> (2020)</h1>
                <ul class="nav nav-tabs">
                    <li class="page-item nav-item"><a class="nav-link" href="/details">Details</a></li>
                    <li class="page-item nav-item active"><a class="nav-link" href="/episodes">Episode Guide</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/cast">Cast</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/reviews">Reviews</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/recs">Recommendations</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/photos">Photos</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/statistics"><i
                                class="far fa-chart-bar"></i></a></li>
                </ul>
            </div>
            <div class="box-tool m-t-sm dropdown"> <a href="#" class="hidden-xs-down text-sm text-primary"
                    data-toggle="dropdown">Edit this Page</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Edit Information</div> <a class="dropdown-item" rel="nofollow"
                        href="#"><span>Primary Details</span></a> <a class="dropdown-item" rel="nofollow"
                        href="#"><span>Cover Image</span></a> <a class="dropdown-item" rel="nofollow"
                        href="#"><span>Related
                            Titles</span></a> <a class="dropdown-item" rel="nofollow" href="#"><span>Cast</span></a> <a
                        class="dropdown-item" rel="nofollow" href="#"><span>Crew</span></a> <a class="dropdown-item"
                        rel="nofollow" href="#"><span>Genres</span></a> <a class="dropdown-item edit-tags"
                        data-id="33186" rel="nofollow" href="#"><span>Tags</span></a> <a class="dropdown-item"
                        rel="nofollow" href="#"><span>Release Information</span></a> <a class="dropdown-item"
                        rel="nofollow" href="#"><span>Production
                            Information</span></a>
                    <div class="dropdown-divider"></div> <a class="dropdown-item report-link m-b-sm" rel="nofollow"
                        data-id="33186" data-type="title">Report</a>
                </div>
            </div>
            <div class="episodes row m-t">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 1</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 67%"></span></span>
                                <div> <b>6.7</b>/10 from 6 users</div>
                            </div>
                            <div class="air-date">Jan 29, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 2</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 83%"></span></span>
                                <div> <b>8.3</b>/10 from 3 users</div>
                            </div>
                            <div class="air-date">Jan 29, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 3</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 82%"></span></span>
                                <div> <b>8.2</b>/10 from 3 users</div>
                            </div>
                            <div class="air-date">Jan 30, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-down">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 4</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 83%"></span></span>
                                <div> <b>8.3</b>/10 from 3 users</div>
                            </div>
                            <div class="air-date">Jan 30, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 5</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 80%"></span></span>
                                <div> <b>8.0</b>/10 from 1 user</div>
                            </div>
                            <div class="air-date">Feb 05, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 6</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 80%"></span></span>
                                <div> <b>8.0</b>/10 from 1 user</div>
                            </div>
                            <div class="air-date">Feb 05, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-down">
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 7</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 80%"></span></span>
                                <div> <b>8.0</b>/10 from 1 user</div>
                            </div>
                            <div class="air-date">Feb 06, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 8</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 70%"></span></span>
                                <div> <b>7.0</b>/10 from 1 user</div>
                            </div>
                            <div class="air-date">Feb 06, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 9</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Feb 12, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-down">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 10</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Feb 12, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 11</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Feb 13, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 12</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Feb 13, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-down">
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 13</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Feb 19, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 14</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Feb 19, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 15</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Feb 20, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-down">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 16</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Feb 20, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 17</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Feb 26, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 18</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Feb 26, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-down">
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 19</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Feb 27, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 20</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Feb 27, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 21</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Mar 04, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-down">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 22</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Mar 04, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 23</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Mar 05, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 24</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Mar 05, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-down">
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 25</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Mar 11, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 26</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Mar 11, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 27</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Mar 12, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-down">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 28</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Mar 12, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 29</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Mar 18, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 30</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Mar 18, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-down">
                <hr class="hidden-md-up">
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 31</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Mar 19, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-a episode">
                    <div class="cover missing">
                        <a class="text-primary" href="#"><img class="img-fluid"
                                src="../../../assets/images/newtrailers/7.jpg"></a>
                    </div>
                    <div class="">
                        <h2 class="title"><a class="text-primary" href="#">Forest Episode 32</a>
                        </h2>
                        <div class="meta p-b-xs">
                            <div class="rating-panel m-b-0"><span class="rating"><span class="fill"
                                        style="width: 0%"></span></span>
                                <div> <b>0.0</b>/10 from 0 users</div>
                            </div>
                            <div class="air-date">Mar 19, 2020</div>
                        </div>
                        <div class="summary hide"></div>
                    </div>
                </div>
                <hr class="hidden-md-up">
            </div>
        </div>
    </div>
</div>