<div class="row">
    <div class="col-lg-4 col-md-4">
        <app-leftsidebar></app-leftsidebar>
    </div>
    <div class="col-lg-8 col-md-8">
        <div class="box cast-credits">
            <div class="box-header box-navbar">
                <h1 class="film-title"><a href="/details" title="Forest">Forest</a> (2020)</h1>
                <ul class="nav nav-tabs">
                    <li class="page-item nav-item"><a class="nav-link" href="/details">Details</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/episodes">Episode Guide</a></li>
                    <li class="page-item nav-item active"><a class="nav-link" href="/cast">Cast</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/reviews">Reviews</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/recs">Recommendations</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/photos">Photos</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/statistics"><i
                                class="far fa-chart-bar"></i></a></li>
                </ul>
            </div>
            <div class="box-tool m-t-sm dropdown">
                <a href="#" class="hidden-xs-down text-sm text-primary" data-toggle="dropdown">Edit this Page</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Edit Information</div>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Primary Details</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Cover Image</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Related Titles</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Cast</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Crew</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Genres</span></a>
                    <a class="dropdown-item edit-tags" data-id="33186" rel="nofollow" href="#"><span>Tags</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Release Information</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Production Information</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item report-link m-b-sm" rel="nofollow" data-id="33186"
                        data-type="title">Report</a>
                </div>
            </div>

            <div id="amzn_assoc_ad_div_adunit_0"></div>
            <div class="box-body">
                <h3 class="header b-b p-b">Director</h3>
                <ul class="list no-border p-b row">
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        alt="Oh Jong Rok in Forest Korean Drama(2020)"
                                        src="../../../assets/images/cast-credits/director/1.jpg"> </a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Oh Jong
                                        Rok</b></a>
                            </div>
                        </div>
                    </li>
                </ul>
                <h3 class="header b-b p-b">Screenwriter</h3>
                <ul class="list no-border p-b clear">
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        alt="Lee Sun Young in Forest Korean Drama(2020)"
                                        src="../../../assets/images/cast-credits/screenwriter/1.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Lee Sun
                                        Young</b></a>
                            </div>
                        </div>
                    </li>
                </ul>
                <h3 class="header b-b p-b">Main Role</h3>
                <ul class="list no-border p-b row">
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/mainrole/1.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Park Hae
                                        Jin</b></a>
                                <div class="text-ellipsis"> <small><a class="text-primary" href="#">Kang San
                                            Hyuk</a></small> </div>
                                <small class="text-muted">Main Role</small>
                            </div>

                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/mainrole/2.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Jo Bo Ah</b></a>
                                <div class="text-ellipsis">
                                    <small><a class="text-primary" href="#">Jung Young
                                            Jae</a></small>
                                </div>
                                <small class="text-muted">Main Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/mainrole/3.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Jung Yeon
                                        Joo</b></a>
                                <div class="text-ellipsis">
                                    <small>Oh Bo Mi</small>
                                </div>
                                <small class="text-muted">Main Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/mainrole/4.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Noh Kwang
                                        Shik</b></a>
                                <div class="text-ellipsis">
                                    <small>Choi Chang</small>
                                </div>
                                <small class="text-muted">Main Role</small>
                            </div>
                        </div>
                    </li>
                </ul>
                <h3 class="header b-b p-b">Support Role</h3>
                <ul class="list no-border p-b row">
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/1.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Ryu Seung
                                        Soo</b></a>
                                <div class="text-ellipsis">
                                    <small>Bong Dae Yong </small>
                                </div>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/2.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Woo Jung
                                        Kook</b></a>
                                <div class="text-ellipsis">
                                    <small>Ki Pil Young</small>
                                </div>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/3.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Geum Kwang
                                        San</b></a>
                                <div class="text-ellipsis">
                                    <small>Yang Chul Shik</small>
                                </div> <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/4.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Kim Eun Soo</b></a>
                                <div class="text-ellipsis">
                                    <small>Kook Soon Tae</small>
                                </div>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/5.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Ahn Sang
                                        Woo</b></a>
                                <div class="text-ellipsis">
                                    <small>Park Jin Man</small>
                                </div>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/6.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Go Soo Hee</b></a>
                                <div class="text-ellipsis">
                                    <small>Nurse Kim</small>
                                </div>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/7.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Lee Nam
                                        Hee</b></a>
                                <div class="text-ellipsis">
                                    <small>[Hospital director]</small>
                                </div>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/8.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Park Ji Il</b></a>
                                <div class="text-ellipsis">
                                    <small>[Young Jae's father]</small>
                                </div>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/9.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Lee Do
                                        Kyung</b></a>
                                <div class="text-ellipsis">
                                    <small>Choi Jung Mok</small>
                                </div>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/10.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Lee Shi
                                        Hoon</b></a>
                                <div class="text-ellipsis">
                                    <small>Park Hyun Soo</small>
                                </div>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/11.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Jung Soo
                                        Kyo</b></a>
                                <div class="text-ellipsis">
                                    <small>Han Ji Yong</small>
                                </div>
                                <small class="text-muted">Support Role</small>
                            </div>

                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/12.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Choi Kwang
                                        Il</b></a>
                                <div class="text-ellipsis">
                                    <small>Kwon Joo Han</small>
                                </div>
                                <small class="text-muted">Support Role</small>
                            </div>

                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/13.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Kim Young
                                        Pil</b></a>
                                <div class="text-ellipsis">
                                    <small>Jo Kwang Pil</small>
                                </div>
                                <small class="text-muted">Support Role</small>
                            </div>

                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/14.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Yoon Bok In</b></a>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/15.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Choi Seung
                                        Hoon</b></a>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/16.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Lee Go Eun</b></a>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/17.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Min Joon
                                        Hyun</b></a>
                                <small class="text-muted">Support Role</small>
                            </div>

                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/18.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Im Jung
                                        Min</b></a>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-item col-sm-6">
                        <div class="row">
                            <div class="col-3 col-sm-4 p-r p-l-0">
                                <a href="#"><img class="img-responsive mdl-rounded"
                                        src="../../../assets/images/cast-credits/supportrole/19.jpg"></a>
                            </div>
                            <div class="col-9 col-sm-8 p-a-0">
                                <a href="#" class="text-primary text-ellipsis"><b>Kwon Ye
                                        Eun</b></a>
                                <small class="text-muted">Support Role</small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>