<!-- <p>votinglists works!</p> -->


<div class="box m-t">
    <div class="box-header">
        <h2>Popular Voting Lists</h2>
        <div class="box-tool"><a href="#">more</a></div>
    </div>
    <div class="box-body">
        <div class="custom-list-preview">
            <div class="content titles">
                <a class="collection" href="#" title="What was your first K-Drama?">
                    <span class="list-item titles">  <img src="../../../assets/images/votinglists/1.jpg" alt="What was your first K-Drama?">  </span>
                    <span class="list-item titles">  <img src="../../../assets/images/votinglists/2.jpg" alt="What was your first K-Drama?">  </span>
                    <span class="list-item titles">  <img src="../../../assets/images/votinglists/3.jpg" alt="What was your first K-Drama?">  </span>
                    <span class="list-item titles">  <img src="../../../assets/images/votinglists/4.jpg" alt="What was your first K-Drama?">  </span>
                    <span class="list-item titles">  <img src="../../../assets/images/votinglists/5.jpg" alt="What was your first K-Drama?">  </span>
                </a>
            </div>
            <div class="title bottom"> <a href="#" title="What was your first K-Drama?">What was your first K-Drama?</a>
                <div class="list-bars text-black-lt"> <span class="m-r"><i class="fal fa-tv m-r-xs"></i> 208 titles</span> <span class="m-r"><i class="fal fa-vote-yea m-r-xs"></i> 940 voters</span> <span class="m-r"><i class="fal fa-heart m-r-xs"></i> 27 loves</span> <span class="m-r"><i class="fal fa-comment-alt m-r-xs"></i> 14</span>                    </div>
            </div>
        </div>
        <div class="custom-list-preview">
            <div class="content titles">
                <a class="collection" href="#" title="Most Well-Written Characters in a Drama">
                    <span class="list-item titles">  <img src="../../../assets/images/votinglists/6.jpg" alt="Most Well-Written Characters in a Drama">  </span>
                    <span class="list-item titles">  <img src="../../../assets/images/votinglists/7.jpg" alt="Most Well-Written Characters in a Drama">  </span>
                    <span class="list-item titles">  <img src="../../../assets/images/votinglists/8.jpg" alt="Most Well-Written Characters in a Drama">  </span>
                    <span class="list-item titles">  <img src="../../../assets/images/votinglists/9.jpg" alt="Most Well-Written Characters in a Drama">  </span>
                    <span class="list-item titles">  <img src="../../../assets/images/votinglists/10.jpg" alt="Most Well-Written Characters in a Drama">  </span> </a>
            </div>
            <div class="title bottom"> <a href="#" title="Most Well-Written Characters in a Drama">Most Well-Written Characters in a Drama</a>
                <div class="list-bars text-black-lt"> <span class="m-r"><i class="fal fa-tv m-r-xs"></i> 85 titles</span> <span class="m-r"><i class="fal fa-vote-yea m-r-xs"></i> 305 voters</span> <span class="m-r"><i class="fal fa-heart m-r-xs"></i> 11 loves</span> <span class="m-r"><i class="fal fa-comment-alt m-r-xs"></i> 2</span>                    </div>
            </div>
        </div>
    </div>
</div>