<div class="row">
    <div class="col-lg-4 col-md-4">
        <app-leftsidebar></app-leftsidebar>
    </div>
    <div class="col-lg-8 col-md-8">
        <div class="box">
            <div class="box-header box-navbar">
                <h1 class="film-title"><a href="/details" title="Forest">Forest</a> (2020)</h1>
                <ul class="nav nav-tabs">
                    <li class="page-item nav-item"><a class="nav-link" href="/details">Details</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/episodes">Episode Guide</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/cast">Cast</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/reviews">Reviews</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/recs">Recommendations</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/photos">Photos</a></li>
                    <li class="page-item nav-item"><a class="nav-link" href="/statistics"><i class="far fa-chart-bar"></i></a></li>
                </ul>
            </div>
            <div class="box-tool m-t-sm dropdown"> <a href="#" class="hidden-xs-down text-sm text-primary" data-toggle="dropdown">Edit this Page</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Edit Information</div>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Primary Details</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Cover Image</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Related Titles</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Cast</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Crew</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Genres</span></a>
                    <a class="dropdown-item edit-tags" data-id="33186" rel="nofollow" href="#"><span>Tags</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Release Information</span></a>
                    <a class="dropdown-item" rel="nofollow" href="#"><span>Production Information</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item report-link m-b-sm" rel="nofollow">Report</a>
                </div>
            </div>

            <div class="box-header">
                <h2>Trailers</h2>
            </div>
            <div class="box-body">
                <div class="row" id="trailers">
                    <div class="col-6 col-sm-4 col-md-4">
                        <div class="box">
                            <a class="film-cover" href="#"> <img class="img-fluid" src="../../../assets/images/newtrailers/7.jpg">
                                <div class="film-tag"></div>
                            </a>
                            <div class="p-a-sm"> <b><a class="text-primary text-ellipsis" href="#">Trailer 1</a></b> </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4">
                        <div class="box">
                            <a class="film-cover" href="#"> <img class="img-fluid" src="../../../assets/images/newtrailers/7.jpg">
                                <div class="film-tag"><span class="sub">SUB</span></div>
                            </a>
                            <div class="p-a-sm"> <b><a class="text-primary text-ellipsis" href="#">Trailer 2</a></b> </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4">
                        <div class="box">
                            <a class="film-cover" href="#"> <img class="img-fluid" src="../../../assets/images/newtrailers/7.jpg">
                                <div class="film-tag"></div>
                            </a>
                            <div class="p-a-sm"> <b><a class="text-primary text-ellipsis" href="#">Trailer 3</a></b> </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4">
                        <div class="box">
                            <a class="film-cover" href="#"> <img class="img-fluid" src="../../../assets/images/newtrailers/7.jpg">
                                <div class="film-tag"><span class="sub">SUB</span></div>
                            </a>
                            <div class="p-a-sm"> <b><a class="text-primary text-ellipsis" href="#">Trailer 4</a></b> </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4">
                        <div class="box">
                            <a class="film-cover" href="#"> <img class="img-fluid" src="../../../assets/images/newtrailers/7.jpg">
                                <div class="film-tag"></div>
                            </a>
                            <div class="p-a-sm"> <b><a class="text-primary text-ellipsis" href="#">Trailer 5</a></b> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>