<!-- <p>upcomingshows works!</p> -->


<div class="box m-t">
    <div class="box-header">
        <h2>Top Upcoming Shows</h2>
    </div>
    <div class="box-tool"><a href="#">more</a></div>
    <ul class="list top-list">
        <li class="list-item mdl-26385">
            <div class="list-left rank">1</div>
            <div class="list-left"><img src="../../../assets/images/upcomingshows/1.jpg" width="55"></div>
            <div class="list-body">
                <div class="text-primary"><a class="title" href="#" title="Eternal Love of Dream">Eternal Love of Dream</a> <button class="btn simple btn-manage-list" data-id="26385" data-stats="mylist:26385"><span><i class="far fa-plus"></i></span></button></div>
                <div class="list-info">
                    <div class="text-sm">Chinese Drama, 56 episodes</div>
                    <div class="text-sm">3,661 Watchers</div>
                </div>
            </div>
        </li>
        <li class="list-item mdl-33898">
            <div class="list-left rank">2</div>
            <div class="list-left"><img src="../../../assets/images/upcomingshows/2.jpg" width="55"></div>
            <div class="list-body">
                <div class="text-primary"><a class="title" href="#" title="Itaewon Class">Itaewon Class</a> <button class="btn simple btn-manage-list" data-id="33898" data-stats="mylist:33898"><span><i class="far fa-plus"></i></span></button></div>
                <div class="list-info">
                    <div class="text-sm">Korean Drama, 16 episodes</div>
                    <div class="text-sm">2,489 Watchers</div>
                </div>
            </div>
        </li>
        <li class="list-item mdl-33186">
            <div class="list-left rank">3</div>
            <div class="list-left"><img src="../../../assets/images/upcomingshows/3.jpg" width="55"></div>
            <div class="list-body">
                <div class="text-primary"><a class="title" href="#" title="Forest">Forest</a> <button class="btn simple btn-manage-list" data-id="33186" data-stats="mylist:33186"><span><i class="far fa-plus"></i></span></button></div>
                <div class="list-info">
                    <div class="text-sm">Korean Drama, 32 episodes</div>
                    <div class="text-sm">1,653 Watchers</div>
                </div>
            </div>
        </li>
        <li class="list-item mdl-32445">
            <div class="list-left rank">4</div>
            <div class="list-left"><img src="../../../assets/images/upcomingshows/4.jpg" width="55"></div>
            <div class="list-body">
                <div class="text-primary"><a class="title" href="#" title="Unrequited Love">Unrequited Love</a> <button class="btn simple btn-manage-list" data-id="32445" data-stats="mylist:32445"><span><i class="far fa-plus"></i></span></button></div>
                <div class="list-info">
                    <div class="text-sm">Chinese Drama, 42 episodes</div>
                    <div class="text-sm">1,442 Watchers</div>
                </div>
            </div>
        </li>
        <li class="list-item mdl-32406">
            <div class="list-left rank">5</div>
            <div class="list-left"><img src="../../../assets/images/upcomingshows/5.jpg" width="55"></div>
            <div class="list-body">
                <div class="text-primary"><a class="title" href="#" title="My Holo Love">My Holo Love</a> <button class="btn simple btn-manage-list" data-id="32406" data-stats="mylist:32406"><span><i class="far fa-plus"></i></span></button></div>
                <div class="list-info">
                    <div class="text-sm">Korean Drama, 0 episodes</div>
                    <div class="text-sm">1,222 Watchers</div>
                </div>
            </div>
        </li>
    </ul>
</div>