<div class="content-side hidden-sm-down">
    <div class="box hidden-sm-down">
        <div class="box-body">
            <div class="film-cover cover"> <img class="img-fluid" src="../../../assets/images/newtrailers/7.jpg"
                    alt="Forest (2020) poster"> </div>
            <div class="share-container p-t p-b text-center">
                <a rel="nofollow" href="https://www.facebook.com/" class="btn btn-icon btn-social rounded light"><i
                        class="fab fa-facebook-f"></i><i class="fab fa-facebook-f indigo"></i></a>
                <a rel="nofollow" href="https://twitter.com/" class="btn btn-icon btn-social rounded light"><i
                        class="fab fa-twitter"></i><i class="fab fa-twitter light-blue"></i></a>
                <a rel="nofollow" href="https://pinterest.com/" class="btn btn-icon btn-social rounded light"><i
                        class="fab fa-pinterest"></i><i class="fab fa-pinterest red"></i></a>
                <a rel="nofollow" href="#" class="btn btn-icon btn-social rounded light"><i
                        class="fa fa-comments"></i><i class="fa fa-comments green"></i></a>
            </div>
            <div class="m-b-sm"><button data-id="17319" class="btn-trailer btn white btn-block"><i
                        class="fa fa-play-circle"></i> Watch Trailer</button></div>
            <div class="m-b-sm">
                <a target="_blank" class="btn white btn-amazon btn-block" href="https://www.amazon.com/"><i
                        class="fab text-warn fa-amazon"></i> Buy on Amazon</a>
            </div>
            <div id="mdl-33186" class="btn-group group-manage-list dropdown m-b-sm btn-block">
                <button class="btn m-b-sm white btn-manage-list main col-10 col-sm-9"><i class="far fa-plus"></i> Add to
                    List</button>
                <button class="btn m-b-sm white btn-clist col-2 col-sm-3" data-toggle="dropdown"><i
                        class="fa fa-list"></i></button>
                <div data-rid="33186" class="dropdown-menu dropdown-menu-right manage-clist">
                    <div class="clist-component"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="box clear hidden-sm-down">
        <div class="box-header primary">
            <h3>Details</h3>
        </div>
        <div class="box-body light-b">
            <ul class="list m-b-0">
                <li class="list-item p-a-0"><b class="inline">Drama:</b> <span itemprop="name">Forest</span></li>
                <li class="list-item p-a-0"><b class="inline">Country:</b> South Korea <i class="flag flags-c3"></i>
                </li>
                <li class="list-item p-a-0"><b class="inline">Episodes:</b> 32</li>
                <li class="list-item p-a-0" xitemprop="datePublished" content="2020-01-29"><b class="inline">Airs:</b>
                    Jan 29, 2020 - Mar 19, 2020</li>
                <li class="list-item p-a-0"><b class="inline">Airs On:</b> Wednesday, Thursday</li>
                <li class="list-item p-a-0"><b class="inline">Original Network:</b>
                    <a class="text-primary" href="#">KBS2</a>
                </li>
                <li class="list-item p-a-0"><b class="inline duration">Duration:</b> 35 min.</li>
                <li class="list-item p-a-0 show-genres"><b class="inline">Genres:</b>
                    <a class="text-primary" href="#">Romance</a>,
                    <a class="text-primary" href="#">Drama</a>,
                    <a class="text-primary" href="#">Medical</a>,
                    <a class="text-primary" href="#">Melodrama</a>
                </li>
                <li class="list-item p-a-0 show-tags"><b class="inline">Tags:</b>
                    <a class="text-primary" href="#">Surgical Resident</a>,
                    <a class="text-primary" href="#">Rescue Team</a>,
                    <a class="text-primary" href="#">Past Story</a>,
                    <a class="text-primary" href="#">Past Connection</a>,
                    <a class="text-primary" href="#">Pain And Scars</a>,
                    <a class="text-primary" href="#">Enthusiastic Female Lead</a>,
                    <a class="text-primary" href="#">Incident</a>,
                    <a class="text-primary" href="#">Uncover Secrets</a>,
                    <a class="text-primary" href="#">Desires</a>,
                    <a class="text-primary" href="#">Perseverance</a>
                </li>
                <li class="list-item p-a-0 content-rating"><b class="inline">Rating:</b> 15+ - Teens 15 or older</li>
            </ul>
        </div>
    </div>
    <div class="box clear hidden-sm-down">
        <div class="box-header primary">
            <h3>Statistics</h3>
        </div>
        <div class="box-body light-b">
            <ul class="list m-b-0">
                <li class="list-item p-a-0"><b class="inline">Score:</b> N/A <span class="hft">(scored by 0
                        users)</span></li>
                <li class="list-item p-a-0"><b class="inline">Ranked:</b> #6451</li>
                <li class="list-item p-a-0"><b class="inline">Popularity:</b> #1957</li>
                <li class="list-item p-a-0"><b class="inline">Watchers:</b> 1,963</li>
                <li class="list-item p-a-0" style="display:none;"><b class="inline">Favorites:</b> 0</li>
            </ul>
        </div>
    </div>
    <div class="box">
        <div class="box-body mdl-support-goal text-center" data-toggle="popover" title="" data-hasqtip="0">
            <h3 class="text-md">Weekly MyDramaList Support Goal<i class="fa fa-question-circle pull-right"></i></h3>

            <a href="#" rel="nofollow external" class="btn btn-sm white">Help Support MyDramaList</a>
            <div class="row social-icons-items">
                <div class="col-lg-4 col-md-4 col-4 social-icons-item">
                    <a class="btn btn-icon rounded" target="_blank" href="https://www.facebook.com/"><i
                            class="fab fa-facebook-f indigo"></i></a>
                    <div class="social-followers"> <span class="followers-num">73,319</span> <span
                            class="followers-name">Fans</span> </div>
                </div>
                <div class="col-lg-4 col-md-4 col-4 social-icons-item">
                    <a class="btn btn-icon rounded" target="_blank" href="https://twitter.com/"><i
                            class="fab fa-twitter light-blue"></i></a>
                    <div class="social-followers"> <span class="followers-num">10,244</span> <span
                            class="followers-name">Followers</span> </div>
                </div>
                <div class="col-lg-4 col-md-4 col-4 social-icons-item">
                    <a class="btn btn-icon rounded" target="_blank" href="https://www.youtube.com/"><i
                            class="fab fa-youtube red"></i></a>
                    <div class="social-followers"> <span class="followers-num">1,340</span> <span
                            class="followers-name">Subscribers</span> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="title-contributors box">
        <div class="box-header b-b">
            <h2>Top Contributors</h2>
        </div>
        <div class="box-body">
            <div class="contributor">
                <a class="author-avatar" href="#"><img src="../../../assets/images/contributors/1.jpg"
                        class="avatar w-40" alt=""></a>
                <div class="details">
                    <div><a class="text-primary" href="#"><b>Moe</b></a></div>
                    <div>96 edits</div>
                </div>
            </div>
            <div class="contributor">
                <a class="author-avatar" href="#"><img src="../../../assets/images/contributors/2.gif"
                        class="avatar w-40" alt=""></a>
                <div class="details">
                    <div><a class="text-primary" href="#"><b>Hessa</b></a></div>
                    <div>18 edits</div>
                </div>
            </div>
            <div class="contributor">
                <a class="author-avatar" href="#"><img src="../../../assets/images/contributors/3.jpg"
                        class="avatar w-40" alt=""></a>
                <div class="details">
                    <div><a class="text-primary" href="#"><b>Anne</b></a></div>
                    <div>14 edits</div>
                </div>
            </div>
            <div class="contributor">
                <a class="author-avatar" href="#"><img src="../../../assets/images/contributors/4.jpg"
                        class="avatar w-40" alt=""></a>
                <div class="details">
                    <div><a class="text-primary" href="#"><b>Cryssy Anne</b></a></div>
                    <div>9 edits</div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="article-trending box">
        <div class="box-header b-b">
            <h2>News &amp; Articles</h2>
        </div>
        <div class="box-body">
            <article class="m-b-sm">
                <a class="text-primary" href="#" title="What's in Store for the Year 2020? [Kdramas]">
                    <img src="../../../assets/images/news-articles/1.jpg" class="img-fluid" alt="">
                    <span class="box-title">What's in Store for the Year 2020? [Kdramas]</span>
                </a>
            </article>
            <article class="m-b-sm">
                <a class="text-primary" href="#" title="Ask MDL: Medical">
                    <img src="../../../assets/images/news-articles/2.jpg" class="img-fluid" alt="">
                    <span class="box-title">Ask MDL: Medical</span>
                </a>
            </article>
        </div>
    </div> -->
    <div class="box clear">
        <div class="box-header primary">
            <h3>Popular Lists</h3><small>Related lists from users</small>
            <div class="box-tool"><a href="#">Create a list</a></div>
        </div>
        <div class="box-body">
            <div class="custom-list-preview">
                <div class="content titles">
                    <a class="collection" href="#" title="All Time Favorite Dramas">
                        <span class="list-item titles"> <img src="../../../assets/images/favorites/1.jpg"
                                alt="All Time Favorite Dramas"> </span>
                        <span class="list-item titles"> <img src="../../../assets/images/favorites/2.jpg"
                                alt="All Time Favorite Dramas"> </span>
                        <span class="list-item titles"> <img src="../../../assets/images/favorites/3.jpg"
                                alt="All Time Favorite Dramas"> </span>
                        <span class="list-item titles"> <img src="../../../assets/images/favorites/4.jpg"
                                alt="All Time Favorite Dramas"> </span>
                        <span class="list-item titles"> <img src="../../../assets/images/favorites/5.jpg"
                                alt="All Time Favorite Dramas"> </span>
                    </a>
                </div>
                <div class="title bottom">
                    <a href="#" title="All Time Favorite Dramas">All Time Favorite Dramas</a>
                    <div class="list-bars text-black-lt">
                        <span class="m-r"><i class="fal fa-tv m-r-xs"></i> 269 titles</span>
                        <span class="m-r"><i class="fal fa-heart m-r-xs"></i> 410 loves</span>
                        <span class="m-r"><i class="fal fa-comment-alt m-r-xs"></i> 6</span>
                    </div>
                </div>
            </div>
            <div class="custom-list-preview">
                <div class="content titles">
                    <a class="collection" href="#" title="» Upcoming Korean Dramas">
                        <span class="list-item titles"> <img src="../../../assets/images/upcomingshows/1.jpg"
                                alt="» Upcoming Korean Dramas"> </span>
                        <span class="list-item titles"> <img src="../../../assets/images/upcomingshows/2.jpg"
                                alt="» Upcoming Korean Dramas"> </span>
                        <span class="list-item titles"> <img src="../../../assets/images/upcomingshows/3.jpg"
                                alt="» Upcoming Korean Dramas"> </span>
                        <span class="list-item titles"> <img src="../../../assets/images/upcomingshows/4.jpg"
                                alt="» Upcoming Korean Dramas"> </span>
                        <span class="list-item titles"> <img src="../../../assets/images/upcomingshows/5.jpg"
                                alt="» Upcoming Korean Dramas"> </span> </a>
                </div>
                <div class="title bottom">
                    <a href="#" title="» Upcoming Korean Dramas">» Upcoming Korean Dramas</a>
                    <div class="list-bars text-black-lt">
                        <span class="m-r"><i class="fal fa-tv m-r-xs"></i> 120 titles</span>
                        <span class="m-r"><i class="fal fa-heart m-r-xs"></i> 193 loves</span>
                        <span class="m-r"><i class="fal fa-comment-alt m-r-xs"></i> 5</span>
                    </div>
                </div>
            </div>
            <div class="custom-list-preview">
                <div class="content titles">
                    <a class="collection" href="#" title="Currently airing Korea">
                        <span class="list-item titles"> <img src="../../../assets/images/airingshows/1.jpg"
                                alt="Currently airing Korea"> </span>
                        <span class="list-item titles"> <img src="../../../assets/images/airingshows/2.jpg"
                                alt="Currently airing Korea"> </span>
                        <span class="list-item titles"> <img src="../../../assets/images/airingshows/3.jpg"
                                alt="Currently airing Korea"> </span>
                        <span class="list-item titles"> <img src="../../../assets/images/airingshows/4.jpg"
                                alt="Currently airing Korea"> </span>
                        <span class="list-item titles"> <img src="../../../assets/images/airingshows/5.jpg"
                                alt="Currently airing Korea"> </span>
                    </a>
                </div>
                <div class="title bottom">
                    <a href="#" title="Currently airing Korea">Currently airing Korea</a>
                    <div class="list-bars text-black-lt">
                        <span class="m-r"><i class="fal fa-tv m-r-xs"></i> 14 titles</span>
                        <span class="m-r"><i class="fal fa-heart m-r-xs"></i> 91 loves</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <h3>Featured Trailers</h3>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body featured-trailers clear p-l-xs p-r-xs">

            <div class="row">

                <div class="col-6 col-lg-6 p-b">
                    <a class="cover" href="#"> <img src="../../../assets/images/newtrailers/1.jpg" alt=""> <span
                            class="title"><i class="fa fa-play-circle"></i> Hottest Upcoming Dramas</span> </a>
                </div>
                <div class="col-6 col-lg-6 p-b">
                    <a class="cover" href="#"> <img src="../../../assets/images/newtrailers/2.jpg" alt=""> <span
                            class="title"><i class="fa fa-play-circle"></i> Best of Japan</span> </a>
                </div>
                <div class="col-6 col-lg-6 p-b">
                    <a class="cover" href="#"> <img src="../../../assets/images/newtrailers/3.jpg" alt=""> <span
                            class="title"><i class="fa fa-play-circle"></i> Amnesia</span> </a>
                </div>
                <div class="col-6 col-lg-6 p-b">
                    <a class="cover" href="#"> <img src="../../../assets/images/newtrailers/4.jpg" alt=""> <span
                            class="title"><i class="fa fa-play-circle"></i> Hottest Airing Dramas</span> </a>
                </div>
                <div class="col-6 col-lg-6 p-b">
                    <a class="cover" href="#"> <img src="../../../assets/images/newtrailers/5.jpg" alt=""> <span
                            class="title"><i class="fa fa-play-circle"></i> Best Action Films</span> </a>
                </div>
                <div class="col-6 col-lg-6 p-b">
                    <a class="cover" href="#"> <img src="../../../assets/images/newtrailers/6.jpg" alt=""> <span
                            class="title"><i class="fa fa-play-circle"></i> Most Popular Time Travel Dramas</span> </a>
                </div>
                <div class="col-6 col-lg-6 p-b">
                    <a class="cover" href="#"> <img src="../../../assets/images/newtrailers/7.jpg" alt=""> <span
                            class="title"><i class="fa fa-play-circle"></i> Best School Titles</span> </a>
                </div>
                <div class="col-6 col-lg-6 p-b">
                    <a class="cover" href="#"> <img src="../../../assets/images/newtrailers/8.jpg" alt=""> <span
                            class="title"><i class="fa fa-play-circle"></i> Highest Rated Films 2018</span> </a>
                </div>
            </div>
        </div>
    </div>

</div>