<!-- <p>airingshows works!</p> -->


<div class="box m-t">
    <div class="box-header">
        <h2>Top Airing Shows</h2>
    </div>
    <div class="box-tool"><a href="/shows/top_airing">more</a></div>
    <ul class="list top-list">
        <li class="list-item mdl-35729">
            <div class="list-left rank">1</div>
            <div class="list-left"><img src="../../../assets/images/airingshows/1.jpg" width="55"></div>
            <div class="list-body">
                <div class="text-primary"><a class="title" href="#" title="Crash Landing on You">Crash Landing on You</a> <button class="btn simple btn-manage-list" data-id="35729" data-stats="mylist:35729"><span><i class="far fa-plus"></i></span></button></div>
                <div class="list-info"> <span class="rating rating-sm"><span class="fill" style="width:90%;"></span></span><span class="p-l-xs text-sm score">9.0</span>
                    <div class="text-sm">Korean Drama, 16 episodes</div>
                    <div class="text-sm">8,688 Watchers</div>
                </div>
            </div>
        </li>
        <li class="list-item mdl-33506">
            <div class="list-left rank">2</div>
            <div class="list-left"><img src="../../../assets/images/airingshows/2.jpg" width="55"></div>
            <div class="list-body">
                <div class="text-primary"><a class="title" href="#" title="Until We Meet Again">Until We Meet Again</a> <button class="btn simple btn-manage-list" data-id="33506" data-stats="mylist:33506"><span><i class="far fa-plus"></i></span></button></div>
                <div class="list-info"> <span class="rating rating-sm"><span class="fill" style="width:90%;"></span></span><span class="p-l-xs text-sm score">9.0</span>
                    <div class="text-sm">Thai Drama, 18 episodes</div>
                    <div class="text-sm">5,307 Watchers</div>
                </div>
            </div>
        </li>
        <li class="list-item mdl-38301">
            <div class="list-left rank">3</div>
            <div class="list-left"><img src="../../../assets/images/airingshows/3.jpg" width="55"></div>
            <div class="list-body">
                <div class="text-primary"><a class="title" href="#" title="Romantic Doctor">Romantic Doctor</a> <button class="btn simple btn-manage-list" data-id="38301" data-stats="mylist:38301"><span><i class="far fa-plus"></i></span></button></div>
                <div class="list-info"> <span class="rating rating-sm"><span class="fill" style="width:89%;"></span></span><span class="p-l-xs text-sm score">8.9</span>
                    <div class="text-sm">Korean Drama, 16 episodes</div>
                    <div class="text-sm">2,986 Watchers</div>
                </div>
            </div>
        </li>
        <li class="list-item mdl-18466">
            <div class="list-left rank">4</div>
            <div class="list-left"><img src="../../../assets/images/airingshows/4.jpg" width="55"></div>
            <div class="list-body">
                <div class="text-primary"><a class="title" href="#" title="How Are You Bread">How Are You Bread</a> <button class="btn simple btn-manage-list" data-id="18466" data-stats="mylist:18466"><span><i class="far fa-plus"></i></span></button></div>
                <div class="list-info"> <span class="rating rating-sm"><span class="fill" style="width:95%;"></span></span><span class="p-l-xs text-sm score">9.5</span>
                    <div class="text-sm">Korean Drama, 10 episodes</div>
                    <div class="text-sm">2,652 Watchers</div>
                </div>
            </div>
        </li>
        <li class="list-item mdl-38355">
            <div class="list-left rank">5</div>
            <div class="list-left"><img src="../../../assets/images/airingshows/5.jpg" width="55"></div>
            <div class="list-body">
                <div class="text-primary"><a class="title" href="#" title="Beautiful Love">Beautiful Love</a> <button class="btn simple btn-manage-list" data-id="38355" data-stats="mylist:38355"><span><i class="far fa-plus"></i></span></button></div>
                <div class="list-info"> <span class="rating rating-sm"><span class="fill" style="width:83%;"></span></span><span class="p-l-xs text-sm score">8.3</span>
                    <div class="text-sm">Korean Drama, 100 episodes</div>
                    <div class="text-sm">2,538 Watchers</div>
                </div>
            </div>
        </li>
    </ul>
</div>