<!-- <p>topslider works!</p>
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="carousel-container carousel-articles">
            <div class="grid-slider latest-episodes">
                <div id="slide-episodes" class="swiper-container swiper-container-horizontal">
                    <div class="swiper-wrapper"
                        style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                        <div class="swiper-slide grid-item mdl-24018 swiper-slide-active"
                            style="width: 146.75px; margin-right: 24px;"> <a class="film-cover"
                                href="/24018-the-kings-avatar/episode/24"> <img class="img-fluid"
                                    src="https://i.mydramalist.com/2O0xEc.jpg" alt="The King’s Avatar"> <button
                                    class="btn-manage-list overlay" data-id="24018" data-stats="mylist:24018"><b></b>
                                    Add to
                                    list</button> </a> <a class="film-episode text-ellipsis"
                                href="/24018-the-kings-avatar/episode/24"><span>Episode 24</span><span
                                    class="film-title text-primary">The King’s Avatar</span></a> </div>
                        <div class="swiper-slide grid-item mdl-31385 swiper-slide-next"
                            style="width: 146.75px; margin-right: 24px;"> <a class="film-cover"
                                href="/31385-put-your-head-on-my-shoulder/episode/24"> <img class="img-fluid"
                                    src="https://i.mydramalist.com/wwpPJc.jpg" alt="Put Your Head on My Shoulder">
                                <button class="btn-manage-list overlay" data-id="31385"
                                    data-stats="mylist:31385"><b></b> Add to
                                    list</button> </a> <a class="film-episode text-ellipsis"
                                href="/31385-put-your-head-on-my-shoulder/episode/24"><span>Episode 24</span><span
                                    class="film-title text-primary">Put Your Head on My Shoulder</span></a> </div>
                        <div class="swiper-slide grid-item mdl-29065" style="width: 146.75px; margin-right: 24px;"> <a
                                class="film-cover" href="/29065-secret-queen-makers/episode/7"> <img class="img-fluid"
                                    src="https://i.mydramalist.com/bKEnwc.jpg" alt="Secret Queen Makers"> <button
                                    class="btn-manage-list overlay" data-id="29065" data-stats="mylist:29065"><b></b>
                                    Add to
                                    list</button> </a> <a class="film-episode text-ellipsis"
                                href="/29065-secret-queen-makers/episode/7"><span>Episode 7</span><span
                                    class="film-title text-primary">Secret Queen Makers</span></a> </div>
                        <div class="swiper-slide grid-item mdl-23953" style="width: 146.75px; margin-right: 24px;"> <a
                                class="film-cover" href="/23953-seventeen/episode/8"> <img class="img-fluid"
                                    src="https://i.mydramalist.com/PdJJ0c.jpg" alt="Seventeen"> <button
                                    class="btn-manage-list overlay" data-id="23953" data-stats="mylist:23953"><b></b>
                                    Add to
                                    list</button> </a> <a class="film-episode text-ellipsis"
                                href="/23953-seventeen/episode/8"><span>Episode 8</span><span
                                    class="film-title text-primary">Seventeen</span></a> </div>
                        <div class="swiper-slide grid-item mdl-26255" style="width: 146.75px; margin-right: 24px;"> <a
                                class="film-cover" href="/26255-yellow/episode/10"> <img class="img-fluid"
                                    src="https://i.mydramalist.com/q2ln5c.jpg" alt="Yellow"> <button
                                    class="btn-manage-list overlay" data-id="26255" data-stats="mylist:26255"><b></b>
                                    Add to list</button> </a> <a class="film-episode text-ellipsis"
                                href="/26255-yellow/episode/10"><span>Episode 10</span><span
                                    class="film-title text-primary">Yellow</span></a> </div>
                        <div class="swiper-slide grid-item mdl-27404" style="width: 146.75px; margin-right: 24px;"> <a
                                class="film-cover" href="/27404-flower-ever-after/episode/10"> <img class="img-fluid"
                                    src="https://i.mydramalist.com/VbJnQc.jpg" alt="Flower Ever After"> <button
                                    class="btn-manage-list overlay" data-id="27404" data-stats="mylist:27404"><b></b>
                                    Add to
                                    list</button> </a> <a class="film-episode text-ellipsis"
                                href="/27404-flower-ever-after/episode/10"><span>Episode 10</span><span
                                    class="film-title text-primary">Flower Ever After</span></a> </div>
                        <div class="swiper-slide grid-item mdl-24373" style="width: 146.75px; margin-right: 24px;"> <a
                                class="film-cover" href="/24373-love-playlist-season-2/episode/12"> <img
                                    class="img-fluid" src="https://i.mydramalist.com/33Zwmc.jpg"
                                    alt="Love Playlist: Season 2"> <button class="btn-manage-list overlay"
                                    data-id="24373" data-stats="mylist:24373"><b></b> Add to
                                    list</button> </a> <a class="film-episode text-ellipsis"
                                href="/24373-love-playlist-season-2/episode/12"><span>Episode 12</span><span
                                    class="film-title text-primary">Love Playlist: Season 2</span></a> </div>
                        <div class="swiper-slide grid-item mdl-24372" style="width: 146.75px; margin-right: 24px;"> <a
                                class="film-cover" href="/24372-love-playlist/episode/8"> <img class="img-fluid"
                                    src="https://i.mydramalist.com/EJyvbc.jpg" alt="Love Playlist"> <button
                                    class="btn-manage-list overlay" data-id="24372" data-stats="mylist:24372"><b></b>
                                    Add to
                                    list</button> </a> <a class="film-episode text-ellipsis"
                                href="/24372-love-playlist/episode/8"><span>Episode 8</span><span
                                    class="film-title text-primary">Love Playlist</span></a> </div>
                        <div class="swiper-slide grid-item mdl-28676" style="width: 146.75px; margin-right: 24px;"> <a
                                class="film-cover" href="/28676-cinderella-chef/episode/12"> <img class="img-fluid"
                                    src="https://i.mydramalist.com/Q5Y12c.jpg" alt="Cinderella Chef"> <button
                                    class="btn-manage-list overlay" data-id="28676" data-stats="mylist:28676"><b></b>
                                    Add to
                                    list</button> </a> <a class="film-episode text-ellipsis"
                                href="/28676-cinderella-chef/episode/12"><span>Episode 12</span><span
                                    class="film-title text-primary">Cinderella Chef</span></a> </div>
                        <div class="swiper-slide grid-item mdl-23696" style="width: 146.75px; margin-right: 24px;"> <a
                                class="film-cover" href="/23696-fighting-time/episode/1"> <img class="img-fluid"
                                    src="https://i.mydramalist.com/45omwc.jpg" alt="Fighting Time"> <button
                                    class="btn-manage-list overlay" data-id="23696" data-stats="mylist:23696"><b></b>
                                    Add to
                                    list</button> </a> <a class="film-episode text-ellipsis"
                                href="/23696-fighting-time/episode/1"><span>Episode 1</span><span
                                    class="film-title text-primary">Fighting Time</span></a> </div>
                        <div class="swiper-slide grid-item mdl-19814" style="width: 146.75px; margin-right: 24px;"> <a
                                class="film-cover" href="/19814-midnight-foodstore/episode/3"> <img class="img-fluid"
                                    src="https://i.mydramalist.com/Rer2Ec.jpg" alt="Midnight Foodstore"> <button
                                    class="btn-manage-list overlay" data-id="19814" data-stats="mylist:19814"><b></b>
                                    Add to
                                    list</button> </a> <a class="film-episode text-ellipsis"
                                href="/19814-midnight-foodstore/episode/3"><span>Episode 3</span><span
                                    class="film-title text-primary">Midnight Foodstore</span></a> </div>
                    </div>
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                        aria-disabled="false"></div>
                    <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button"
                        aria-label="Previous slide" aria-disabled="true"></div> <span class="swiper-notification"
                        aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>

        </div>
    </ng-template>

</owl-carousel-o> -->



<!-- <div class="carousel-container carousel-articles">
    <div id="slide-features" class="swiper-container swiper-container-horizontal">
        <div class="swiper-slide carousel-item single swiper-slide-duplicate">

            <div class="grid-item mdl-24018 swiper-slide-active">
                <a class="film-cover" href="/24018-the-kings-avatar/episode/24"> <img class="img-fluid" src="{{item.image}}" alt={{item.filmtitle}}>
                </a>
                <a class="film-episode text-ellipsis pt-2" href="/24018-the-kings-avatar/episode/24">
                    <div>{{item.episodeno}}</div>
                    <span class="film-title text-primary">{{item.filmtitle}}</span>
                </a>
            </div>


        </div>

    </div>
</div> -->

<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let item of itemSliderData">
        <div class="carousel-container carousel-articles">
            <div id="slide-features" class="swiper-container swiper-container-horizontal">
                <div class="swiper-slide carousel-item single swiper-slide-duplicate">

                    <div class="grid-item mdl-24018 swiper-slide-active">
                        <a class="film-cover" href="/24018-the-kings-avatar/episode/24"> <img class="img-fluid" src="{{item.image}}" alt={{item.filmtitle}}>
                            <!-- <button
                                class="btn-manage-list overlay" data-id="24018" data-stats="mylist:24018"><b></b>
                                Add to
                                list</button> -->
                        </a>
                        <a class="film-episode text-ellipsis pt-2" href="/24018-the-kings-avatar/episode/24">
                            <div>{{item.episodeno}}</div>
                            <span class="film-title text-primary">{{item.filmtitle}}</span>
                        </a>
                    </div>


                </div>

            </div>
        </div>
    </ng-template>

</owl-carousel-o>